# Set up the sessions

In [29]:
import pandas as pd

# Import data

In [30]:
# Read network file
network = pd.read_csv('C:/Users/Shirley/Desktop/ARP code/Network files/co_product_weighted network_UK_Q4.csv',
                     sep = ' ', names = ('Prod1', 'Prod2', 'count'))
network.head()

     Prod1     Prod2  count
0  447Prod   342Prod      2
1  447Prod    67Prod      1
2  447Prod  1810Prod      1
3  447Prod  1046Prod      1
4  447Prod     4Prod      1

In [31]:
# Read association rule file
rules = pd.read_csv('C:/Users/Shirley/Desktop/ARP code/Association rule files/association rules_UK_Q4.csv')
rules.head()

                     rules   support  confidence        lift  count
1    {554Prod} => {19Prod}  0.001992        1.00   11.952381      1
2   {216Prod} => {119Prod}  0.001992        1.00   10.244898      1
3   {312Prod} => {283Prod}  0.001992        1.00  125.500000      1
4   {283Prod} => {312Prod}  0.001992        0.25  125.500000      1
5  {312Prod} => {2388Prod}  0.001992        1.00   38.615385      1

# Seperate the products in association rules

In [32]:
# New product data frame with split rule columns 
product = rules['rules'].str.split(" ", expand = True)
product['lhs'] = product[0]
product['rhs'] = product[2]
product = product.iloc[:, 3:5]
product['lhs'] = product.lhs.str.extract('{(.*Prod)}')
product['rhs'] = product.rhs.str.extract('{(.*Prod)}')
product.head()

       lhs       rhs
1  554Prod    19Prod
2  216Prod   119Prod
3  312Prod   283Prod
4  283Prod   312Prod
5  312Prod  2388Prod

In [33]:
# Combine the product data frame and the rule data frame
rules = rules.iloc[:, 1:5]
rules = pd.concat([product, rules], axis = 1)
rules.head()

       lhs       rhs   support  confidence        lift  count
1  554Prod    19Prod  0.001992        1.00   11.952381      1
2  216Prod   119Prod  0.001992        1.00   10.244898      1
3  312Prod   283Prod  0.001992        1.00  125.500000      1
4  283Prod   312Prod  0.001992        0.25  125.500000      1
5  312Prod  2388Prod  0.001992        1.00   38.615385      1

# Inspect the results

In [34]:
# View network result
network_sort = network.sort_values('count', ascending = False)
network_sort.head(n = 10)

          Prod1     Prod2  count
56690   303Prod    81Prod     28
55177    27Prod    88Prod     22
55155    27Prod    19Prod     17
36217    13Prod    40Prod     16
46665   119Prod    30Prod     16
47428   130Prod    66Prod     15
28586  1008Prod  2142Prod     15
17901    15Prod   119Prod     15
16674    18Prod    13Prod     15
3320    821Prod    15Prod     15

In [35]:
# View association rule result
rules_sort = rules.sort_values(['confidence', 'support'], ascending = False)
rules_sort.head(n = 10)

            lhs       rhs   support  confidence        lift  count
43430  2024Prod  2111Prod  0.011952         1.0   31.375000      6
43440  2024Prod  1573Prod  0.011952         1.0   27.888889      6
32365   495Prod  1014Prod  0.009960         1.0   45.636364      5
52203  1776Prod  1601Prod  0.009960         1.0   33.466667      5
53282  1351Prod  1028Prod  0.009960         1.0   71.714286      5
20377  2064Prod  2111Prod  0.007968         1.0   31.375000      4
30367   417Prod   272Prod  0.007968         1.0  100.400000      4
41999  1387Prod   748Prod  0.007968         1.0   20.080000      4
45893   879Prod  1499Prod  0.007968         1.0   33.466667      4
47633  1285Prod  1601Prod  0.007968         1.0   33.466667      4