# Set up the sessions

In [38]:
import pandas as pd
import networkx as nx
from networkx.algorithms import bipartite as bp

# Prepare Datasets

## Import Data

In [39]:
# Read the datasets
Q = pd.read_excel('C:/Users/Shirley/Desktop/ARP code/UK .xlsx', sheet_name = 'Q4')

In [40]:
# Combine the datasets
data = pd.DataFrame(Q)
data.head()
#data.info()

,Item/ Product Code,Customer Name,Season,Category,Product Type,Collection,Colour,Icon,Quantity sold,Invoice Total,Profit,Profit margin,Rank,Invoice number,Invoice date
0,85Prod,Customer 4,NaN,Bags,Suitcase,Misc,"Pink, Blue, Green",Other / Mixed,240,1718.4,678.67,0.394943,1,230351,2019-03-25
1,12Prod,Customer 4,2016AW,Home Accessories,Toy,Woodland Friends,"Pink, Multi",WOODLAND ASSORT,240,1622.4,652.98,0.402478,1,230351,2019-03-25
2,1866Prod,Customer 4,NaN,Home Accessories,Photo Frame,Misc,"Blue, White",Other / Mixed,240,1334.4,534.90,0.400854,1,230351,2019-03-25
3,14Prod,Customer 4,NaN,Bags,Suitcase,Vintage Map,"Blue, Brown",Other / Mixed,120,1243.2,423.70,0.340814,1,230351,2019-03-25
4,85Prod,Customer 4,NaN,Bags,Suitcase,Misc,"Pink, Blue, Green",Other / Mixed,120,1074.0,393.04,0.365959,1,227244,2019-03-01

## Remove Missing Values

In [41]:
# Count the number of NaN values in each column
data.isnull().sum()

Item/ Product Code       0
Customer Name            0
Season                1419
Category                 0
Product Type             0
Collection               0
Colour                   0
Icon                     0
Quantity sold            0
Invoice Total            0
Profit                   0
Profit margin          267
Rank                     0
Invoice number           0
Invoice date             0
dtype: int64

In [42]:
# Drop rows with missing values
data = data.dropna()
data.shape

(6312, 15)

In [43]:
data.head()

,Item/ Product Code,Customer Name,Season,Category,Product Type,Collection,Colour,Icon,Quantity sold,Invoice Total,Profit,Profit margin,Rank,Invoice number,Invoice date
1,12Prod,Customer 4,2016AW,Home Accessories,Toy,Woodland Friends,"Pink, Multi",WOODLAND ASSORT,240,1622.4,652.98,0.402478,1,230351,2019-03-25
6,88Prod,Customer 4,2015SS,Bags,Suitcase,Vintage Florals,"Pink, Multi",Floral,72,644.4,234.93,0.364572,1,222049,2019-01-28
8,550Prod,Customer 4,2018AW,Home Accessories,MIRROR,MONOCHROME,Black,Other / Mixed,120,571.2,335.44,0.587255,1,230351,2019-03-25
9,88Prod,Customer 4,2015SS,Bags,Suitcase,Vintage Florals,"Pink, Multi",Floral,60,537.0,195.49,0.364041,1,221479,2019-01-24
10,88Prod,Customer 4,2015SS,Bags,Suitcase,Vintage Florals,"Pink, Multi",Floral,60,537.0,195.78,0.364581,1,227244,2019-03-01

# Product Pairs

## Create a 2-mode Network

In [44]:
# Set nodes
top_nodes = set(data['Invoice number'])
bottom_nodes = set(data['Item/ Product Code'])

In [45]:
# Create a bipartite network
b = nx.from_pandas_edgelist(data, source='Invoice number', target='Item/ Product Code')

In [46]:
# `is bipartite` check
is_bip = nx.is_bipartite(b)
is_bip

True

## Transfer 2-mode Network to 1-mode Network

In [47]:
# Get the weighted projections of the 2-mode network
co_product = bp.weighted_projected_graph(b, bottom_nodes, ratio=False)

## Write the weighted product network to csv file

In [48]:
nx.write_weighted_edgelist(co_product, 'co_product_weighted network_UK_Q4.csv')